@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-slate-950 text-slate-50 antialiased;
  }
}

@layer components {
  .scrollbar-thin {
    scrollbar-width: thin;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full;
  }
}

